#title {
    font-family:'Worksans';
    font-size:40px; 
    color:white;
    text-align:center;
}

#bg {
    background-color: rgb(54,112,199);
    font-family:'Geneva';
    font-size:20px;
    color:white;
}

#button {
    background-color:white;
    color:black;
    width:250px;
    height:50px;
    border:black;
    font-family:'Gill Sans';
    font-size:19px;
    display:inline;
}

#button2 {
    background-color:black;
    color:white;
    width:100px;
    height:20px;
    border:white;
    font-family:'Gill Sans';
    font-size:15px;
    display:inline;
}

#hii {
 position:absolute; 
 bottom:350px;
 right:350px;
}

#countdown {
    font-size:50px;
    font-family: Work Sans;
    color:white;
}